name: moxxyv2
description: An experimental XMPP client

publish_to: 'none'

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 0.1.0+1

environment:
  sdk: ">=2.15.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  #cupertino_icons: ^1.0.2
  flutter_speed_dial: ^5.0.0+1
  get_it: ^7.2.0
  redux: ^5.0.0
  flutter_redux: ^0.8.2
  # TODO: Remove the git usage once a new version is tagged (> 0.7.0)
  flutter_redux_navigation:
    git:
      url: https://github.com/flutterings/flutter_redux_navigation.git
      ref: master
  badges: ^2.0.2
  flutter_settings_ui: ^2.0.1
  url_launcher: ^6.0.17
  qr_flutter: ^4.0.0
  file_picker: ^4.3.0
  image_cropping: ^0.0.8
  path_provider: ^2.0.8
  isar: ^0.4.0
  isar_flutter_libs: ^0.4.0
  flutter_secure_storage: ^5.0.2
  xml: ^5.3.1
  random_string: ^2.3.1
  cryptography: ^2.0.5
  basic_utils: ^3.9.4
  saslprep: ^1.0.2
  #scrollable_positioned_list: ^0.2.3
  equatable: ^2.0.3
  flutter_background_service: ^0.2.2
  awesome_notifications: ^0.6.20
  connectivity_plus: ^2.2.0
  uuid: ^3.0.5
  #qr_code_scanner: ^0.6.1
  #unifiedpush: ^3.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0
  build_runner: ^2.1.2
  test:
  flutter_launcher_icons: ^0.9.2
  isar_generator: ^0.4.0
  redux_logging: ^0.5.0
  hex: ^0.2.0

extra_licenses:
  undraw.co:
    license: "custom license"
    url: "https://undraw.co"
  xmpp-providers:
    # TODO: Dangerous
    license: "unknown license"
    url: "https://invent.kde.org/melvo/xmpp-providers"
 
flutter:
  uses-material-design: true
  assets:
    - assets/images/logo.png
    - assets/images/begin_chat.png

flutter_icons:
  android: true
  ios: "assets/images/icon_ios.png"
  remove_alpha_ios: true
  # TODO: This maybe not good
  image_path: "assets/images/logo.png"
  adaptive_icon_background: "#8315d2"
  adaptive_icon_foreground: "assets/images/icon_android_adaptive.png"
